*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.commandcode/
.kotlin/

.opencode/
.codex/
.agents/mcp_config.json

.pi-subagents/*

# Build logs
build.log
build-debug.log
build-release.log
build-publish.log
test.log
new-design-media-nest/*
dist/*